amqp==5.0.1
attrs==20.3.0
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==2.2.16
django-filter==2.4.0
django-rest-passwordreset==1.1.0
djangorestframework==3.12.1
iniconfig==1.1.1
kombu==5.0.2
Markdown==3.3.1
packaging==20.4
pluggy==0.13.1
prompt-toolkit==3.0.8
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-django==4.1.0
pytz==2018.5
PyYAML==5.3.1
redis==3.5.3
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
uritemplate==3.0.1
vine==5.0.0
wcwidth==0.2.5